@import './carousel.css';

// Your customize CSS

.form-control:focus {
    background: #f7f6f6;
    border-color: none;
    border-right: none;
    background-color: #f7f6f6;
    border: none;
    box-shadow: -0.3px -0.9px 0px rgba(0, 0, 0, 0.11);
}