@import './carousel.css';

// Your customize CSS

.form-control:focus {
    background: #f7f6f6;
    border-color: none;
    border-right: none;
    background-color: #f7f6f6;
    border: none;
    box-shadow: -0.3px -0.9px 0px rgba(0, 0, 0, 0.11);
}
.alert {
    height: 47px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    top: 30px;
}
.alert-danger {
    color: #721c24;
    background-color: #EF7575;
    border: 1px solid #DB5252;
    font-size: 12px;
    font-weight: 600;
}
.alert-success {
    color: #299A60;
    background-color: #5FDF9E;
    border: 1px solid #49CF8B;
    font-size: 12px;
    font-weight: 600;
}