@import '../../node_modules/bootstrap/scss/bootstrap';
@import './custom.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$keyrus-txt: 'Roboto', sans-serif;

$border-gray: #DDDDDD;
$log-text:#939797;
$gray-txt: #787878;
$light-gray: #f7f6f6;

$blue-keyrus: #2993DE;

#background__img{
    border-top: $border-gray solid 6px;
    border-bottom: $border-gray solid 6px;
    height: 100vh;
    background-image: url("/images/back-grid.png");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login__container {
    height: 339px;
    width: 395px;
    margin: 0 auto;
    margin-top: 30px;
}
#form__container{
    height: 280px;
    width: 100%;
    background-image: url("/images/form-body.png"); 
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inputs__cont {
    width: 95%;
    margin: 0 auto;
}
#form__title{
    font-size: 18px;
    color: $log-text;
    text-align: center;
    font-family: $keyrus-txt;
}
.keyrus__input__group {
    width: 215px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    

}
.input__field{
    font-size: 14px;
    color: $gray-txt;
    font-family: $keyrus-txt;
    border-right: none;
    background-color: $light-gray;
    border: none;
    box-shadow: -0.3px -0.9px 0px rgba(0, 0, 0, 0.11);
}
.input__icon_cont {
    width: 37px;
    background: $light-gray;
    border: none;
    box-shadow: 0.25px -0.9px 0 rgba(0, 0, 0, 0.11);
}

.btn__primary__keyrus {
    background-color: $blue-keyrus;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: $keyrus-txt;
}
.btn__primary__keyrus--login{
    width: 117px;
    height: 42px;
}

.login-component__label--remember {
    font-size: 12px;
    color: $log-text;
    font-weight: 400;
    margin-bottom: 0;
}


.actions__text__cont {
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.actions__txt__register {
    color: $gray-txt;
    text-align: center;
    margin-bottom: 0px;
    cursor: pointer;
    font-family: $keyrus-txt;
}
.actions__txt__register--link {
    text-decoration: underline;
}
.actions__txt__register--default {
    font-size: 14px;
}
.actions__txt__register--small {
    font-size: 11px;
    margin-top: 10px;
}

.actions__txt__link {
    color: $blue-keyrus;
}
.actions__txt__link--big {
    text-decoration: underline;
    color: $blue-keyrus;
}

.info__container{
    height: 30px;
    width: 475px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.info__box__square{
    height: 30px;
    width: 30px;
    background-color: #7b7b7b;
    cursor: pointer;
}
.info__box__txt__cont{
    height: 30px;
    width: 92.5%;
    background-color: white;
    cursor: pointer;
}

.info__icon {
    font-size: 18px;
    text-align: center;
    font-weight: 650;
    color: #ffffff;
}

.keyrus__txt {
    font-size: 12px;
    font-style: italic;
    font-family: $keyrus-txt;
    color: #969696;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 7px;
}

.close-icon {
    cursor: pointer;
}